RecruitmentAssignmentSente/XSD/GeneratedXSD/Struktura.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="uczestnik">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="uczestnik" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="id" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="struktura">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="uczestnik"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>